@model IEnumerable<IsraelBlock.Models.Supplier>

@{
    ViewBag.Title = "Fornecedores";
}

@if (@TempData["Message"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["Message"]
    </div>
}

<div class="panel panel-default">
    <div class="panel-heading">
        <p>
            @Html.ActionLink("Criar novo", "Create", null, new { @class = "btn btn-primary" })
        </p>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>
                        Nome
                    </th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
            {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.ActionLink("Editar", "Edit", new { id = item.SupplierId }) |
                            @Html.ActionLink("Detalhes", "Details", new { id = item.SupplierId }) |
                            @Html.ActionLink("Deletar", "Delete", new { id = item.SupplierId })
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
</div>