@model IsraelBlock.Models.Product

@{
    Layout = "~/Views/Shared/_LayoutNovo.cshtml";
    ViewBag.Title = "Visualizando os detalhes do Produto";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        Visualizando detalhes do PRODUTO a ser removido
    </div>
    <div class="panel-body">
        <div class="form-group">
            Nome<br />
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-user"></i>
                </span>
                @Html.EditorFor(model => model.Name,new{htmlAttributes = new{@class ="form-control",disabled = "disabled" }})
            </div>
        </div>
        <div class="form-group">
            Categoria<br />
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-user"></i>
                </span>
                @Html.EditorFor(model => model.Category.Name,new{htmlAttributes = new{ @class ="form-control", disabled = "disabled" }})
            </div>
        </div>
        <div class="form-group">
            Fornecedor<br />
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-user"></i>
                </span>
                @Html.EditorFor(model => model.Supplier.Name, new{htmlAttributes = new {@class ="form-control", disabled = "disabled" }})
            </div>
        </div>
    </div>
    <div class="panel-footer panel-info">
        <a href="#" class="btn btn-info" data-toggle="modal"
           data-target="#deleteConfirmationModal">Remover</a>
        @Html.ActionLink("Retornar para a listagem", "Index",null, new { @class = "btn btn-info" })
    </div>
</div>
<div class="modal fade" id="deleteConfirmationModal" tabindex="-1"
     role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-ELTEismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">
                    Confirmação de exclusão de PRODUTO
                </h4>
            </div>
            <div class="modal-body">
                <p>
                    Você está prestes a remover o produto @Model.Name.ToUpper() do cadastro.
                </p>
                <p>
                    <strong>
                        Você está certo que deseja prosseguir?
                    </strong>
                </p>
                @using (Html.BeginForm("Delete", "Products",FormMethod.Post, new{@id = "delete-form",role = "form"}))
                {
                    @Html.HiddenFor(m => m.ProductId)
                    @Html.AntiForgeryToken()
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        onclick="$('#delete-form').submit();">
                    Sim, exclua este produto.
                </button>
                <button type="button" class="btn btn-primary"
                        data-dismiss="modal">
                    Não, não exclua este produto.
                </button>
            </div>
        </div>
    </div>
</div>