@model IEnumerable<IsraelBlock.Models.Product>

@{
    Layout = "~/Views/Shared/_LayoutNovo.cshtml";
    ViewBag.Title = "Produtos";
}

@if (@TempData["Message"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["Message"]
    </div>
}

<p>
    @Html.ActionLink("Criar novo", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Category
            </th>
            <th>
                Supplier
            </th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Supplier.Name)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.ProductId }) |
                    @Html.ActionLink("Detalhes", "Details", new { id = item.ProductId }) |
                    @Html.ActionLink("Deletar", "Delete", new { id = item.ProductId })
                </td>
            </tr>
        }
    </tbody>

</table>